<form #tabTipoDenunciaDenunciaForm="ngForm">
  <div class="form-group">
    <!-- Dropdown Trigger -->
    <div>
      <select [(ngModel)]="tipoSeleccionado" (ngModelChange)="onTipoChange($event)" name="tipoSeleccionado" class="form-control">
        <option *ngFor="let tipo of tipoDelito" ngValue="{{tipo}}">{{tipo}}</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <!-- Dropdown Trigger -->
    <select [(ngModel)]="modalidadSeleccionada" name="modalidadSeleccionada" class="form-control">
      <option *ngFor="let modalidad of modalidades" ngValue="{{modalidad}}">{{modalidad}}</option>
    </select>
  </div>
</form>
